* {
 margin: 0;
 padding: 0;
}



body{
	margin:0;
	padding:0;
	width: 1903px;
;
	
}

header {
	background-color:rgba(0,102,52,1);
	padding: 24px;
	width: 1855px;
	height: 30px;
	clear: both;
}

.logo {
	position: absolute;
	margin-top:-105px;
	margin-left:-65px;
}




ul li {
	list-style: none;
}

.nav {
	border-right: none;
	overflow: hidden;
	float: left;
	margin: -10px 0 0 525px;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	width: 200px;
	height: 65px;
	text-align: center;
	line-height: 50px;
	display: block;	
	color: white;
}

.nav ul li a:hover {
	color: red;
}

.nav ul li ul {
	position: absolute;
	display: none;
}

.nav ul li ul li {
	float: none;
}

.nav ul li ul li a {
	border-right: none;
	border-top: 1px solid rgba(0,102,52,1);
	background:rgba(180,31,30,1);
}

.nav ul li:hover ul {
	display: block;
}













header .zh {
	font-size:1.5em;
	width:97%;
	text-align:right;
	cursor: pointer;
	color: white;
}



main {
}

.main1 {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 1000px;
}

.main1 h1{
	margin: 0;
	padding-top: 400px;
	color: black;
	text-align: center;
	font-size: 8em;
	transition: color 2s;
}
.main1 h1:hover {
	color: white;
}




.main2 {
	margin: 0;
	padding: 0;
	height: 380px;
}

.main2 h1 {
	margin: 0;
	padding-top: 130px;
	color:rgba(0,102,52,1);
	font-size: 3em;
	text-align: center;
}

.main2 p {
	margin: 0;
	padding: 0;
	color:rgba(0,102,52,1);
	font-size: 2em;
	text-align: center;
}



.z1 {
	margin: 70px 70px 0 70px;
	padding: 0 50px;
	padding-top: 200px;
	width: 280px;
	height: 700px;
	float: left; 
	text-align: center;
	font-size: 2em;

}


.z2 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
	display: block;
}

.z2:hover img {
	display: none;
}
.z3 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
	display: block;
}

.z3:hover img {
	display: none;
}

.z4 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
	display: block;
}

.z4:hover img {
	display: none;
}


.abc {
	margin:0;
	height: 300px;
	text-align: center;
	line-height: 300%;
	clear: both;
}




.tag {
	width: 300px;
	height: 40px;
}

.submit {
	border-color: black;
	width: 120px;
	height: 44px;
	background-color: black;
	padding-bottom: 2px;
}

.submit:hover {
	background-color:rgba(0,102,52,1);
	border-color:rgba(0,102,52,1);
	border-right: none;
}






footer {
	background: #000;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 14px;
    bottom:0;
}

a {
	color:#fff; text-decoration:none;
}

a:hover { 
	color:red ; text-decoration:underline;
}







#screen {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	z-index: 9998;
	opacity: 0.3;
	display: none;
	position: fixed;
}



#login {
	width: 300px;
	height: 450px;
	border: none;
	background: #fff;
	position: fixed;
	z-index: 9999;
	display: none;
}

#login h2{
	height: 130px;
	text-align: center;
	letter-spacing: 2px;
	background: url(../img/2.png);
	margin: 0;
	padding:0;
	border:none;
	margin-bottom: 45px;
}

#login .guanbi {
	float: right;
	font-size: 14px;
	position: relative;
	top: 2px;
	right: 4px;
	cursor: pointer;
	color: white;
}

#login div.user,#login div.pass {
	text-align: center;
	padding: 5px 0;
	margin-bottom: 10px;
}



#login input.text {
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	background: #ccc;
}

#login .button {
	text-align: center;
	padding: 15px 0;
}

#login input.submit {
	width: 100px;
	height: 50px;
	background: url(../img/3.png) no-repeat;
	cursor: pointer;
	border: none;
	margin-top: 10px;
}

#login .other {
	text-align: center;
	font-size: 14px;
	color: #ccc;
}




