* {
 margin: 0;
 padding: 0;
}



body{
	min-height:100%;
	margin:0;
	padding:0;
;
	
}

header {
	background-color:rgba(0,102,52,1);
	padding: 24px;
	position: fixed;
	width: 1900px;
	height: 30px;
	clear: both;
}

.logo {
	position: absolute;
	margin-top:-105px;
	margin-left:-65px;
}




ul li {
	list-style: none;
}

.nav {
	border-right: none;
	overflow: hidden;
	float: left;
	margin: -10px 0 0 520px;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	width: 200px;
	height: 65px;
	text-align: center;
	line-height: 50px;
	display: block;	
	color: white;
}

.nav ul li a:hover {
	color: red;
}

.nav ul li ul {
	position: absolute;
	display: none;
}

.nav ul li ul li {
	float: none;
}

.nav ul li ul li a {
	border-right: none;
	border-top: 1px solid rgba(0,102,52,1);
	background:rgba(180,31,30,1);
}

.nav ul li:hover ul {
	display: block;
}













header p {
	font-size:1.5em;
	width:95%;
	text-align:right;
}



main {
	

}

.main1 {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 900px;
}



.main2 {
	margin: 0;
	padding: 0;
	height: 380px;
}

.main2 h1 {
	margin: 0;
	padding-top: 130px;
	color:rgba(0,102,52,1);
	font-size: 3em;
	text-align: center;
}

.main2 p {
	margin: 0;
	padding: 0;
	color:rgba(0,102,52,1);
	font-size: 2em;
	text-align: center;
}



.z1 {
	margin: 70px 70px 0 70px;
	padding: 0 50px;
	padding-top: 200px;
	width: 280px;
	height: 700px;
	float: left; 
	text-align: center;
	font-size: 2em;

}


.z2 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
}

.z3 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
}

.z4 {
	margin: 70px 12px 0 12px;
	padding: 0;
	width: 430px;
	height: 700px;
	float: left; 
	background-color:rgba(0,102,52,1);
}

.abc {
	margin:0;
	height: 300px;
	text-align: center;
	line-height: 300%;
	clear: both;
}




.tag {
	width: 300px;
	height: 40px;
}

.submit {
	border-color: black;
	width: 120px;
	height: 44px;
	background-color: black;
	padding-bottom: 2px;
}

.submit:hover {
	background-color:rgba(0,102,52,1);
	border-color:rgba(0,102,52,1);
	border-right: none;
}






footer {
	background: #000;
    font-size: 13px;
    color: #fff;
    text-align: center;
    padding: 14px;
    bottom:0;
    

}

a {
	color:#fff; text-decoration:none;
}

a:hover { 
	color:red ; text-decoration:underline;
}


